.text-highlight {
  color: var(--text-highlight);

  &.on-dark {
    color: var(--text-highlight-on-dark);
  }
}

.text-muted {
  color: var(--text-muted);

  &.on-dark {
    color: var(--text-muted-on-dark);
  }
}

.text-brand {
  color: var(--text-brand);

}

.background-dark {
  background-color: var(--section-dark-background);}

.text-on-dark {
  color: var(--text-body-on-dark);
}